# Dependency directories
./FrontEnd-ReactJS/node_modules/
./Back-End-NodeJS/node_modules/
# Mobile
./Mobile-ReactNative/node_modules/**/*
./Mobile-ReactNative/expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/

# macOS
.DS_Store
